* {
  margin: 0;
  padding: 0
}

body {
  background-color: #252A34
}

section {
  clear: both;
  padding: 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

section .bPart {
  width: 70%;
  float: right;
}

section .aPart {
  width: 30%;
  display: inline-block;
  float: left;
}

section h2 {
  text-align: center;
  margin: 15px 0;
  font-family: 'Merriweather', serif;
}

.logo {
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%
}

.logo img {}

.logo h1 {
  font-family: 'Merriweather', serif;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.coverpage {
  padding: 0!important;
  background-image: url("../img/port.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  background: #FC5185;
  display: flex;
  justify-content: center;
}

header nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header nav>ul li {
  display: flex;
}

header nav>ul li a {
  padding: 10px 20px;
  transition: all ease 1s;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header nav>ul li:hover {
  background: #f42c69;
  cursor: pointer;
}

.tecList {
  padding: 10px;
  border-radius: 10px;
  background: #F5F5F5;
  list-style: none;
}

.tecList ul li button:hover {
  color: #FC5185;
  cursor: pointer;
}

.tecList ul {
  transition: all ease 1s;
  color: #FC5185;
  margin-left: 10px;
  list-style: none
}
.tecIcon{
  float: left;
  width: 100px;
  margin: 10px;
}
.btnTect {
  border: none;
  background: none;
  color: #3FC1C9
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #3FC1C9;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
}

form input {
  width: 100%;
  border: none;
  height: 20px;
}

form button {
  background: #FC5185;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  display: inline-block;
  transition: all ease 1s;
}

form button:hover {
  background: #bf345e;
  cursor: pointer;
}

footer {
  color: white;
  font-size: 10pt;
  text-align: center;
}




#tecnologies{
  padding: 0;
  background: #3FC1C9
}
.pad{
  padding: 40px;
}

footer{
  padding: 0;
  background-image: url("../img/sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


#contact{
  padding: 0;
  background-image: url("../img/sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
